.month-name, .day-name {
  text-align: center;
}

.month-name {
  font-size: 2em;
}

.day-name {
  font-weight: bold;
}

.day {
  border: solid 1px black;
}

.day.school {
  background-color: green;
}
